src/main/mule/mulesoft-db-pagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e343667e-4e2e-405c-b489-b009dfcba654" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6497c9a8-52be-427d-8370-3708a4ffd06c" >
		<db:oracle-connection host="${oracle.host}" user="${oracle.username}" serviceName="${oracle.service-name}" password="${oracle.password}" port="${oracle.port}">
			<reconnection failsDeployment="true" >
				<reconnect />
			</reconnection>
		</db:oracle-connection>
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="77d4f03f-931d-4daf-92d6-79f2f919ecd9" file="properties\config.yaml" />
	<flow name="mulesoft-db-paginationFlow" doc:id="967fb049-1e53-431d-8953-4b7e9439faf2" >
		<http:listener doc:name="Listener" doc:id="2e15c05f-1847-4a8c-936e-29c52090cd0b" config-ref="HTTP_Listener_config" path="pagination/oracle"/>
		<ee:transform doc:name="save incoming dates, batch size and offset" doc:id="1c49aa7e-9642-4801-bea6-8ac2023e5e46" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="varIncomingData" ><![CDATA[%dw 2.0
output application/java
---
{
	start_date: attributes.queryParams.start_date,
	end_date : attributes.queryParams.end_date,
	batch_size: p('batch-size'),
	offset: attributes.queryParams.offset default 0
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Build SQL Payload" doc:id="a0787802-8c06-4bdb-803d-04312700f942" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"SELECT attribute1,attribute2,acct_segment1,acct_segment2,acct_segment3,acct_segment4,acct_segment5,
        user_je_source_name,pgm_name,date_created,accounting_date,entered_dr_amount,entered_cr_amount from
    ( 
SELECT NVL(attribute1,0) as attribute1
    ,NVL(attribute2,0) as attribute2
    , NVL(acct_segment1,0) as acct_segment1
    , NVL(acct_segment2,0) as acct_segment2
    , NVL(acct_segment3,0) as acct_segment3
    , NVL(acct_segment4,0) as acct_segment4
    , NVL(acct_segment5,0) as acct_segment5
    , user_je_source_name
    , NVL(pgm_name,' ') as pgm_name
    , to_char(date_created,'yyyy-mm-dd hh:mi:ss') as date_created
    , to_char(accounting_date, 'yyyy-mm-dd hh:mi:ss') as accounting_date
    , round(entered_dr_amount,2) as entered_dr_amount
    , round(entered_cr_amount,2) as entered_cr_amount
    FROM krk_custom.stg_fif_gl_data
    WHERE  to_char(date_created,'yyyymmdd') BETWEEN " ++ vars.varIncomingData.start_date ++ "  AND " ++ vars.varIncomingData.start_date ++ 
    "AND NOT(Round(ENTERED_DR_AMOUNT,2)  = 0 AND ROUND(ENTERED_CR_AMOUNT,2) = 0)
    AND ACCT_SEGMENT3 <> 50000
    OFFSET "++ vars.varIncomingData.offset ++  " ROWS 
    FETCH NEXT "++ vars.varIncomingData.batch_size ++ " ROWS ONLY
)"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:select doc:name="Select : See if you can pass SQL on on connector itself. " doc:id="5333e53d-751f-4462-840b-bba0432f88e9" config-ref="Database_Config">
			<db:sql ><![CDATA[#[payload]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f99757fa-1e62-4188-b6d9-2619ddad14ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	count: sizeOf(payload),
	has_more_records : true,
	next_url : "/pagination/oracle?start_date="++ vars.varIncomingData.start_date ++"&end_date=" ++ vars.varIncomingData.end_date ++"&offset="++ sum ([vars.varIncomingData.offset,vars.varIncomingData.batch_size]),
	data : payload
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f3442ee1-a0d2-433d-8d5a-af63f51c7e32" />
	</flow>
</mule>
